body {
  background-color: #262626;
  position: relative;
}

#wrap {
  width: 100%;
}

a:hover {
  color: #949494;
}

/*ここからヘッダー*/

@media screen and (min-width: 769px) {
  .header {
    max-width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgba(9, 8, 8, 0.8);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    right: 0;
    left: 0;
    background-color: rgba(9, 8, 8, 0.8);
  }
}

.header_img {
  text-align: center;
}

.header_title_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;  
}

.header_title_link {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  #humberger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #humberger {
    position: relative;
    top: 30px;
    height: 0;
    width: 28px;
    display: block;
    box-sizing: border-box;
  }

  #humberger div {
    position: absolute;
    left: 0;
    height: 1.5px;
    width: 28px;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }

  #humberger div:nth-of-type(1) {
    bottom: 16px;
  }

  #humberger div:nth-of-type(2) {
    bottom: 8px;
  }

  #humberger div:nth-of-type(3) {
    bottom: 0;
  }

  .header_title_bar {
    display: block;
  }

.header_title {
      text-align: center;
}

  .header_title_link {
  display: inline-block;
  }

  .header_title_description {
    display: block;
    text-align: center;
  }

  .header_right {
    display: none;
  }

}

.header_title_description {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-top: 4px;
}

.header_right {
  margin: auto 0;
}

.header_right_ul {
  display: flex;
  flex-direction: row;
  font-family: 'Oswald', sans-serif;
}

.header_right_li {
  font-weight: bold;
  text-decoration: none; 
  list-style: none;
  color: #fff;
  margin-left: 8px;
}

.header_right_li_top {
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  color: #fff;
  margin-left: 8px;
  border-bottom: 1px solid #fff;
}

.header_img img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .header_img img {
    width: 100%;
  }
}

/*ここまでヘッダー*/
/*ここからメイン*/

#main {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 820px;
}

.main_logo {
  text-align: center;
  margin-top: 120px;
  height: auto;
}

.main_logo img {
  max-width: 100%;
}

.news_title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 36px;
  color: #fff;
}

.news_recruitment {
  text-align: center;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  min-width: 100%;
}

.news_recruitment_link {
  text-decoration: none;
  color: #fff;
}

.recruitment_img {
  padding-right: 20px;
}

.recruitment_img img {
  width: 210px;
}

@media screen and (max-width:768px) {
  .recruitment_img img {
    width: 120px;
  }

  .homepage_img img {
    width: 120px;
  }
}


.recruitment_date {
  color: #fff;
  padding-bottom: 5px;
  text-align: left;
}

.recruitment_description {
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.news_homepage {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.news_homepage_link {
  text-decoration: none;
  color: #fff;
}

.homepage_img {
  padding-right: 20px;
}

.homepage_img img {
  width: 210px;
}

@media screen and (max-width:768px) {
  .homepage_img img {
    width: 120px;
  }
}

.homepage_date {
  color: #fff;
  padding-bottom: 5px;
}

.homepage_description {
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.view_all {
  text-align: right;
}

.view_all_link {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 8px 60px;
  border-radius: 30px;
  background-color: #262626;
}

@media screen and (max-width: 768px) {
  .view_all_link {
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: 0 100px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 8px 60px;
    border-radius: 30px;
    background-color: #262626;
  }
}

.view_all_link:hover , .view_all_link_submit:hover{
  color: aqua;
  border: 1px solid aqua;
}

.contact_margin {
  margin-bottom: 20px;
}

.contact_title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 36px;
  color: #fff;
}

.contact_form_title {
  color: #fff;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
}

.contact_form {
  width: 50%;
  padding: 0.6em 0.5em;
  background-color: #262626;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .contact_form {
    box-sizing: border-box;
    width: 100%;
    padding: 0.6em 0.5em;
    background-color: #262626;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.2em;
  }
}

input:focus {
  outline: none;
  border: 1px solid #66ffff
}

.contact_form_textarea {
  width: 100%;
  padding: 0.6em 0.5em;
  background-color: #262626;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2em;
box-sizing: border-box;
}

textarea:focus {
  outline: none;
  border: 1px solid aqua;
}

.view_all_link_submit {
  display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 8px 60px;
    border-radius: 30px;
    background-color: #262626;
  }

@media screen and (max-width: 768px) {
  .view_all_link_submit_mobile{
    padding: 0 auto;
  }

  .view_all_link_submit {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 8px 47.5%;
    border-radius: 30px;
    background-color: #262626;
  }
}


.personal_information {
  background-color: #464646;
  margin-top: 40px;
  padding: 16px 20px;
  max-width: 1200px;
}

.personal_information_title {
  font-weight: bold;
  color: #fff;
}

.personal_information_description {
  color: #fff;
  margin-top: 8px;
}

.banner {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner_img {
  margin: 2px 6px;
}

.banner_img img {
  width: 260px;
}

.footer {
  margin-top: 80px;
}

.top_page {
  text-decoration: none;
}

.dli-chevron-up {
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid currentColor;
  border-bottom: 0;
  border-right: 0;
  box-sizing: border-box;
  transform: translateY(0%) rotate(45deg) skew(20deg, 20deg);
  margin: 0 auto;
}

.page_top {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.top_page:hover .dli-chevron-up{
  color: #949494;
}

.top_page:hover .page_top {
  color: #949494;
}

.counter {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
}

.counter_today {
  border-right: 2px solid #fff;
  padding-right: 8px;
  margin-right: 8px;
}

.counter_yesterday{
  border-right: 2px solid #fff;
  padding-right: 8px;
  margin-right: 8px;
}

.footer_title {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #fff;
}

.footer_ul {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.footer_li {
  font-family: 'Noto Sans JP', sans-serif;
  list-style: none;
  margin: 2px 6px 8px 6px;
}

.footer_li_a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.ex_link {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.mobile_site_link {
  text-decoration: none;
  color: #262626;
}


.mobile_site {
  font-family: 'Noto Sans JP', sans-serif;
  color: #262626;
  background-color: #fff;
  border-radius: 4px;
  padding: 6px 8px 0 8px;
  font-weight: bold;
  margin-right: 12px;
}

.mobile_site:hover {
  background-color: #949494;
}

.mobile_site_link:hover {
  color: #262626;
}



@media screen and (max-width: 768px) {
  .mobile_site {
    display: none;
  }
}

.feedicon_link:hover .feed {
  background-color: #949494;
}

.feedicon_link:hover .feedicon {
  background-color: #949494;
}

.feed {
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.feedicon {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.f1,
.f2,
.f3 {
  position: absolute;
}

.f2,
.f3 {
  border-top: 5px solid #262626;
  border-right: 5px solid #262626;
}

.f1 {
  background-color: #262626;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  bottom: 0;
  left: 0;
}

.f2 {
  width: 9px;
  height: 9px;
  border-radius: 0 13px 0 0;
  bottom: 0;
}

.f3 {
  width: 17px;
  height: 17px;
  border-radius: 0 22px 0 0;

}

.copy_right {
  background-color: black;
  text-align: center;
  padding: 20px;

}

.copy_right_title {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #fff;
}

.copy_right_title_link {
  text-decoration: none;
  color: #fff;
}

.copy_right_title_link:hover {
  color: #949494;
}